
# g++/clang++ artifacts
*.o
libScr.a

# Visual Studio artifacts
.vs
Debug
Release
*.user

# Open Watcom artifacts
*.obj
*.err
scr.lib

# Code::Blocks artifacts
bin
obj
*.depend
*.layout

# Documentation artifacts
doc/api

# Executable files
check_manager/check_manager
check_manager/check_manager.exe
check_simple/check_simple
check_simple/check_simple.exe

# macOS related files
.DS_Store