
# g++/clang++ artifacts
*.o
libScr.a

# Code::Blocks artifacts
bin
obj
*.depend
*.layout

# Executable files
check_manager/check_manager
check_simple/check_simple

# Visual Studio artifacts
.vs
Debug
Release
*.user

# Open Watcom artifacts
*.obj
*.err
scr.lib

